{% extends "layout.html" %} {% block body %}
    <a href='/'>Back</a>
    <table class=page-layout> 
    <td class=table-left>
    <h2>{{ books.title }}</h2>
    <div class=centroid>
    Centroid: {{ cent }}
    </div>

    <div class=locations> 

        <ul class=books>
            <li><p class=book-title>{{ books.title }}</p>
            <li><a href='/confirm_locations?book_id={{ books.book_id }}'>Edit all</a>
            <table class=locations>
            {% for location in locations if location.book_id == books.book_id%}
                <tr>
                    <td><a href="/book?book_id={{ books.book_id }}&click={{location.location}}{{location.location_id}}">{{location.location}}: <small>{{ location.lat }}, {{ location.lon }}</small></a></td>
                    <td>{{ location.country_name }}</td>
                    <td><form action="/place_entry?book_id={{ books.book_id }}&location_id={{ location.location_id }}" method="post">
                        <input type=submit value=Edit>
                    </form></td>
                    <td><form action="/delete/{{ location.location_id }}" method="post">
                        <input type=submit value=Delete>
                    </form></td>
                    <td><form action="/delete_all?book_id={{ books.book_id }}&location_name={{ location.location }}" method="post">
                        <input type=submit value="Delete All">
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </table>
        </ul>

    </div>

    <!--
    <ul class=entries>

    <ul class=locations>
    {% for location in locations %}
    <li><h2>{{ location.location }}</h2>{{ location.lat }}, {{ location.lon }}, {{ location.location_id }}
    <form action="/delete/{{ location.location_id }}" method="post">
        <input type=submit value=Delete>
    </form>
    {% else %}
    <li><em>No locations, clown.</em>
    {% endfor %}
    </ul>
    -->

    <ul>
    <li>
        <form action="/clear/" method="post">
            <input type=submit value="Clear Table">
        </form>
    </ul>
    </td>

    <td class=table-right>

    {% with %}

        {% set location=cent %}
        {% set style="width:40em;height:40em;float:right;" %}
        
        {{
        googlemap(
            "main-map",
            location.0,location.1,
            markers=responses,
            style=style,
            zoom=3
            )
        }}

    {% endwith %}
<!--
    <div data-tap-disabled="true" id='mapid' >
    {{ cent[0] }},{{ cent[1] }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet-src.js"></script>
    <script>
        var mymap = L.map('mapid').setView([{{ cent[0] }},{{ cent[1] }}], 2);
        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.streets',
        accessToken: 'pk.eyJ1IjoicHJwb2xlIiwiYSI6ImNpbHRvZjRteTAwOXB1ZGtzZ2xmdDBvN3IifQ.tPiOc_aeb0asBLSp5Vk5zg'
        }).addTo(mymap);
        

        
        {% for response in responses %}
        var marker = L.marker([{{ response[0] }},{{ response[1] }}]).addTo(mymap).bindPopup("meow");
        {% endfor %}

    </script>
    </div>
    -->
    </td>

    </table>


    {% endblock %}
