{% extends "layout.html" %} {% block body %}
    
    <table class=page-layout> 
    <td class=table-left>
    <a href="/">Back</a>
    <!--
    {% if session.logged_in %}
    <table class=input_table>
    <tr class=enter-locations>
    <h2>Manual Update</h2>
    </tr>
    <tr>
    <form action="/update_location/manual?id={{location.location_id}}" method=post class=add-location>
        <tr><td>Latitude: </td><td><input type=text size=15 name=lat></td></tr>
        <tr><td>Longitude: </td><td><input type=text size=15 name=lon></td></tr>
        <tr><td></td><td><input type=submit value=Set></td></tr>
    </form>
    </td>
    </table>
    {% endif %} 
    -->
    
    <div class=locations> 
        <h2>{{ location.location }}</h2>
        {{ context }} 
        <form>  
            <input id="contextMap" type=button value="Map Contextual Locations" onclick="mapContext();">
        </form>
        <table style="width:30em">
            <tr><td><a href="/place_entry?location_id={{ location.location_id }}&book_id={{ book_id }}&click={{ click_code }}&showall=showall">Show All</a></td></tr> 
            <tr><td>Current: <small>{{ location.lat }}, {{ location.lon }}</td></small></tr>
            <tr><td></td><td>Coordinates</td><td>Country</td><td></td></tr>
                    {% set count = 1 %}
                        {% for response in responses %}
                        <tr>
                            <td>{{ count }},{{response[5]}}</td>
                            <td><form action="/update_location?id={{location_code}}&lat={{ response[0] }}&lng={{ response[1] }}&country={{ response[4] }}&next_id={{ next_loc }}&book_id={{ book_id }},&fcode={{ response[5] }}" method=post class=update-location>
                            <a href='/place_entry?location_id={{ location_code }}&book_id={{ book_id }}&click={{ count }}&showall={{ show_all }}'>{{ response[0] }},{{ response[1] }}</a></td>
                            <td>{{ response[4] }}</td>
                            <td><input type=submit value=set>
                            </form></td>
                            <td><form action="/update_location/all?id={{location_code}}&lat={{ response[0] }}&lng={{ response[1] }}&country={{ response[4] }}&next_id={{ next_type }}&book_id={{ book_id }}&fcode={{ response[5] }}" method=post class=update-location>
                            <input type=submit value="set all">
                            </form></td>
                            <td><form action="/delete/{{ location.location_id }}?next_id={{ next_loc }}&book_id={{ book_id }}" method="post">
                                    <input type=submit value=Delete>
                                </form></td>
                            <td><form action="/delete_all?book_id={{ book_id }}&location_name={{ location.location }}&next_id={{ next_type }}" method="post">
                                    <input type=submit value="Delete All">
                                </form>
                        </td>
                        </tr>
                        {% set count = count + 1 %}
                        {% endfor %}

                    {% set count = 1 %}
    
                        <tr><td></td><td>Google Responses</td><td></td><td></td></tr>
                        {% for response in google_responses %}
                        <tr>
                            <td>{{ count }}</td>
                            <td><form action="/update_location?id={{location_code}}&lat={{ response[0] }}&lng={{ response[1] }}&country={{ response[4] }}&next_id={{ next_loc }}&book_id={{ book_id }}" method=post class=update-location>
                            <a href='/place_entry?location_id={{ location_code }}&book_id={{ book_id }}&click={{ count }}&showall={{ show_all }}'>{{ response[0] }},{{ response[1] }}</a></td>
                            <td>{{ response[4] }}</td>
                            <td><input type=submit value=set>
                            </form></td>
                            <td><form action="/update_location/all?id={{location_code}}&lat={{ response[0] }}&lng={{ response[1] }}&country={{ response[4] }}&next_id={{ next_type }}&book_id={{ book_id }}" method=post class=update-location>
                            <input type=submit value="set all">
                            </form></td>
                            <td><form action="/delete/{{ location.location_id }}?next_id={{ next_loc }}&book_id={{ book_id }}" method="post">
                                    <input type=submit value=Delete>
                                </form></td>
                            <td><form action="/delete_all?book_id={{ book_id }}&location_name={{ location.location }}&next_id={{ next_type }}" method="post">
                                    <input type=submit value="Delete All">
                                </form>
                        </td>
                        </tr>
                        {% set count = count + 1 %}
                        {% endfor %}

        </table>
        <table style="width:30em">
            <tr>
                {% if prev_type != 'None' %}
                <td><a href='/place_entry?book_id={{ book_id }}&location_id={{ prev_type }}'>Previous Location</a></td>
                {% endif %}
                {% if prev_loc != 'None' %}
                <td><a href='/place_entry?book_id={{ book_id }}&location_id={{ prev_loc }}'>Previous Location Instance</a></td>
                {% endif %}
                {% if next_loc != 'None' %}
                <td><a href='/place_entry?book_id={{ book_id }}&location_id={{ next_loc }}'>Next Location Instance</a></td>
                {% endif %}
                {% if next_type != 'None' %}
                <td><a href='/place_entry?book_id={{ book_id }}&location_id={{ next_type }}'>Next Location</a></td>
                {% endif %}
                <td><a href='/'>Back</a></td>
            </tr>
        </table>
        
    </div>
        
    </td>
    <td class=table-right>

    <div id="mapid" >

    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.0-beta.2.rc.2/leaflet.js"></script>
    <script src="{{ url_for('static',filename='PruneCluster.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static',filename='leaflet.ajax.min.js') }}" type="text/javascript"></script>

    {{ cent[0] }},{{ cent[1] }}
    <script>
        
        var map = L.map("mapid", {
            attributionControl: false,
            zoomControl: false
        }).setView(L.latLng({{ cent[0] }}, {{ cent[1] }}), 3);

        //L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        //    attribution: 'Map data <a href="http://openstreetmap.org">OpenStreetMap</a>',
        //    maxZoom: 18,
        //    id: 'mapbox.streets',
        //    accessToken: 'pk.eyJ1IjoicHJwb2xlIiwiYSI6ImNpbHRvZjRteTAwOXB1ZGtzZ2xmdDBvN3IifQ.tPiOc_aeb0asBLSp5Vk5zg'
        //}).addTo(map);

        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            detectRetina: true,
            maxNativeZoom: 17
        }).addTo(map);

        //var mymap = L.map('mapid').setView([{{ cent[0] }},{{ cent[1] }}], 2);
        //L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        //attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
        //maxZoom: 18,
        //id: 'mapbox.streets',
        //accessToken: 'pk.eyJ1IjoicHJwb2xlIiwiYSI6ImNpbHRvZjRteTAwOXB1ZGtzZ2xmdDBvN3IifQ.tPiOc_aeb0asBLSp5Vk5zg'
        //}).addTo(mymap);
        
        var leafletView = new PruneClusterForLeaflet(); 


        var icon1 = L.icon({
            iconUrl: 'http://maps.google.com/mapfiles/ms/icons/yellow-dot.png',
            iconSize: [32,32]
        });
        
        var icon2 = L.icon({
            iconUrl: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png',
            iconSize: [32,32]
        });

        
        {% for response in responses %}
            leafletView.RegisterMarker(new PruneCluster.Marker({{ response[0] }}, {{ response[1] }}, {text: "{{ response[2]}}"}));
        {% endfor %}


        leafletView.PrepareLeafletMarker = function (marker, data) {
            if (marker.getPopup()) {
                marker.setPopupContent(data.text);
            } else {
                marker.bindPopup(data.text);
            };
            var fiveRe = /\d/;
            console.log(fiveRe.test('3'));
            marker.setIcon(icon1);
        };

        function mapContext(marker,data) {
            console.log("wow");
            {% for response in context_coordinates %}
                leafletView.RegisterMarker(new PruneCluster.Marker({{ response[0] }}, {{ response[1] }}, {text: "{{ response[2]}}"}));
            {% endfor %}
            
            leafletView.PrepareLeafletMarker = function (marker, data) {
            if (marker.getPopup()) {
                marker.setPopupContent(data.text);
            } else {
                marker.bindPopup(data.text);
            };
            marker.setIcon(icon2);
            };
        }

        /*

        {% for response in all_responses %}
            var marker = new PruneCluster.Marker({{ response[0] }}, {{ response[1] }}, {
                popup: "{{ response[2]}}", 
                icon: L.icon({ 
                    iconUrl: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png'
                })
            });
            
            markers.push(marker);
            leafletView.RegisterMarker(marker);
        {% endfor %}


        leafletView.PrepareLeafletMarker = function (marker, data) {
            if (marker.getPopup()) {
                marker.setPopupContent(data.popup);
            } else {
                marker.bindPopup(data.popup);
            };
            if (marker.text == "{{ location.location }}") {
                marker.setIcon = icon1;
            } else {
                marker.setIcon = icon2;
            };
        };
        */

                
        map.addLayer(leafletView);
        
        var borderStyle = {
            "color": "#ff7800",
            "weight": 4,
            "opacity": 1
        };
        
        var geojsonLayer = new L.GeoJSON.AJAX("countries_small.geojson");
        geojsonLayer.addTo(map);

        var clickLat,clickLng;

        map.on('contextmenu', function (event) {
            console.log("Coordinates: " + event.latlng.toString());
            document.getElementById("latitude_box").value=event.latlng.lat;
            document.getElementById("longitude_box").value=event.latlng.lng;
        });
        

        //var country_boundary = new L.geoJson();

        //country_boundary.addTo(map);

        //$.ajax({
        //dataType: "json",
        //url: "{{  url_for('static',filename='countries_small.geojson') }}",
        //success: function(data) {
        //    $(data.features).each(function(key,data) {
        //        country_boundary.addData(data);
        //    });
        //}
        //}).error(function() {});

    </script>
    </div>
    <div id="manualAdd">
    <form action="/update_location/manual?id={{ location.location_id }}&next_id={{ next_loc }}&book_id={{ book_id }}" method=post enctype=multipart/form-data>
        <h2>Manually Update - Right Click on Location</h2>
        <dl>
            <dt><strong>Latitude/Longitude</strong>
            <dd>Latitude: <input type=text size=20 name=latitude id=latitude_box>
            <dd>Longitude: <input type=text size=20 name=longitude id=longitude_box>
        </dl>
        <p><input type=submit value="Manually Update">
    </form>
    </div>
   <!-- 
    {% with %}
        {% set location=cent %}
        {% set style="width:40em;height:40em;float:right;" %}
        
        {{
        googlemap(
            "main-map",
            location.0,location.1,
            markers=all_responses,
            style=style,
            zoom=3
            )
        }}

    {% endwith %}
    -->
    </td>

    </table>

    {% endblock %}
